@font-face {
    font-family: 'Sunberry';
    src: url('fonts/Sunberry.ttf');
    font-family: 'Product', Google Sans;
    src: url();
}

html {
    scroll-behavior: smooth;
    
}

/* h1{
    font-family: 'Sunberry';
}
h6{
    font-family: 'Product', Google Sans;
    opacity: 0.6;
    position: relative;
    left: 100px;
} */

.top-header {
    font-family: 'Product', Google Sans;
}

.header-text {
    font-weight: bolder;
    opacity: 0.5;
    font-size: 0.9rem;
}

.header-font {
    color: black;
    opacity: 0.4;
}

.header-font:hover {
    opacity: 0.9;
    color: black;
    transition: 1s;
}

.my-name {
    font-family: 'Sunberry';
    font-weight: bold;
    opacity: 0.9;
}

.name-bottom {
    font-family: 'Product', Google Sans;
    font-weight: bold;
    /* opacity: 0.5; */
    position: absolute;
    /* left: 650px; */
    left: 53%;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-family: 'Product', Google Sans;
    font-size: 0.85rem;
    font-weight: bold;
}

/* .cover-photo{

   border-radius: 40px;
    

} */

.profile-picture {
    position: absolute;
    /* right: 30px;
    bottom: 0px; */
    z-index: 1;
    right: 270px;
    bottom: 0px;
    top: 120px;
}

@media screen and (max-width: 1000px) {
    .align {
        width: 25%;
        height: 25%;
        z-index: -1;
        top: 100px;
        bottom: 50px;
        align-items: center;
    }
}

/* @media screen and (max-width: 801px) and (max-width:650px) {
    .align {
        width: 90px;
        height: 90px;
        z-index: -1;
        top: 100px;
    }
} */

/* .bg-custom{

    background-image: url("images/gif4.gif");


} */

.card-customization:hover {
    /* box-shadow: 2px 2px 5px grey; */
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition: 0.8s;
}

.card-customization {
    width: 18rem;
}

/* @media screen and (max-width: 770px) {
    .card-customization{
        justify-content: center;
    }
} */

@media screen and (max-width: 770px) {
    .card-customization {
        min-width: 100%;
        text-align: center;
    }
    /* #main {margin-left: 216px;} */
}

@media screen and (max-width: 500px) {
    .cover-photo {
        min-width: 100%;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 70%; */
        border-radius: 10px;
    }
    /* #main {margin-left: 216px;} */
}

.contact-info {
    font-family: 'Product', Google Sans;
    font-weight: bolder;
}

.gh-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: black;
}

.li-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: #0e76a8;
}

.fb-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: #3b5998;
    /* background: linear-gradient(to right, #9c9e9f, #f6f6f6); */
}

.sk-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: #00aff0;
}

.pint-icon {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    justify-content: center;
    background-color: #c8232c;
}

.my-name-last {
    /* color: #b90b14; */
    font-size: 17px;
    background: -webkit-linear-gradient(rgb(254,218,117), rgb(250,126,30), rgb(214,41,118), rgb(150,47,191), rgb(79,91,213));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

/* .my-name-last:hover {
    
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    transition-duration: 0.5s;
} */

.cover-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 10px;
}

/* .line-1{
    position: relative;
    top: 10%;  
    width: 10em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */

/* .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}  */

/* Border Animation CSS */

#about-profile-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 15px solid transparent;
}

/* .about-profile-banner {
    background: url('https://s3-eu-west-1.amazonaws.com/img3.n-ix.com/wp-content/uploads/2016/12/16152229/Data-Science-Outsourcing-BLOG-banner-1920-Copy-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 550px;
    position: relative;
} */

/* .about-content-center {
} */

/* .about-h2 {
    font-size: 2.5em;
    font-weight: 700;
    color: white;
} */

@-webkit-keyframes rounded {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 0.0
    }
    50% {
        opacity: 1.0
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0.0
    }
}

@keyframes rounded {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 0.0
    }
    50% {
        opacity: 1.0
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0.0
    }
}

.cc-profile-image a {
    position: relative;
    z-index: 0;
}

.cc-profile-image a:before {
    content: "";
    border: 15px solid rgba(55, 140, 63, 0.6);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    -webkit-animation: rounded 1.6s ease-out;
    animation: rounded 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: -1;
}

.align {
    position: absolute;
    /* right: 30px;
    bottom: 0px; */
    right: 250px;
    bottom: 0px;
    top: 120px;
}